Package: executequery
Version: {eq-version}
Maintainer: Takis Diakoumis <takisd@executequery.org>
Section: contrib/misc
Homepage: http://www.executequery.org/ 
Architecture: all
Recommends: java7-runtime | openjdk-7-jre | java6-runtime | openjdk-6-jre
Priority: optional
Installed-Size: {install_size}
Description: A database query and visualisation tool.
 Execute Query is a database utility allowing for the 
 execution of simple queries to schema modifications and 
 import/export of data using delimited and XML files as 
 well as complete INSERT scripts.
 .
 Execute Query includes a powerful query execution and 
 a fully functional database browser. Execute Query uses 
 JDBC/ODBC for database connectivity.
 .

