Package: executequery
Version: {eq-version}
Maintainer: Takis Diakoumis <takisd@executequery.org>
Section: contrib/misc
Homepage: http://www.executequery.org/ 
Architecture: all
Recommends: openjdk-6-jre | sun-java6-jre | sun-java5-jre
Priority: optional
Installed-Size: {install_size}
Description: A database query and visualisation tool.
 Execute Query is an operating system independent database 
 utility written entirely in Java.
 .
 Using the flexibility provided by Java Database Connectivity (JDBC), 
 Execute Query provides a simple way to interact with almost any 
 database from simple queries to table creation and import/export of an 
 entire schema's data.
 .

