<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Execute Query</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleIconFile</key>
    <string>eq.icns</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>Java</key>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
    <dict>
      <key>MainClass</key>
      <string>org.executequery.ExecuteQuery</string>
      <key>VMOptions</key>
      <string>-Xmx1024m</string>
      <key>JVMVersion</key>
      <string>1.6+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/eq.jar</string>
        <string>$JAVAROOT/docs/eqhelp.jar
        <string>$JAVAROOT/lib/</string>
        <string>$JAVAROOT/lib/BrowserLauncher2-1_3.jar</string>
        <string>$JAVAROOT/lib/batik-awt-util.jar</string>
        <string>$JAVAROOT/lib/batik-codec.jar</string>
        <string>$JAVAROOT/lib/batik-dom.jar</string>
        <string>$JAVAROOT/lib/batik-ext.jar</string>
        <string>$JAVAROOT/lib/batik-rasterizer-ext.jar</string>
        <string>$JAVAROOT/lib/batik-svggen.jar</string>
        <string>$JAVAROOT/lib/batik-util.jar</string>
        <string>$JAVAROOT/lib/batik-xml.jar</string>
        <string>$JAVAROOT/lib/batik.jar</string>
        <string>$JAVAROOT/lib/c3p0-0.9.1.2.jar</string>
        <string>$JAVAROOT/lib/commons-codec-1.4.jar</string>
        <string>$JAVAROOT/lib/commons-httpclient-3.1.jar</string>
        <string>$JAVAROOT/lib/commons-lang-2.6.jar</string>
        <string>$JAVAROOT/lib/commons-logging-1.1.1.jar</string>
        <string>$JAVAROOT/lib/jh.jar</string>
        <string>$JAVAROOT/lib/juniversalchardet-1.0.3.jar</string>
        <string>$JAVAROOT/lib/liquibase-3.1.1.jar</string>
        <string>$JAVAROOT/lib/log4j-1.2.16.jar</string>
        <string>$JAVAROOT/lib/poi-3.2-FINAL-20081019.jar</string>
        <string>$JAVAROOT/lib/xml-apis.jar</string>
      </array>
      <key>Properties</key>
      <dict>
        <key>com.apple.mrj.application.apple.menu.about.name</key>
        <string>Execute Query</string>
        <key>com.apple.macos.useScreenMenuBar</key>
        <string>true</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
      </dict>
    </dict>
  </dict>
</plist>
